/*
  |----------------------------------------
  | Nav tab
  |----------------------------------------
*/
.nav_tab {
  border-radius: 15px;
}

.nav_tab .tab_item {
  font-size: 16px;
  cursor: pointer;
}

.nav_tab .tab_item:hover {
  color: var(--text_accent_1);
}

.nav_tab .tab_item.tab_active {
  background: var(--bg_accent_1);
  color: var(--text_unchanged_secondary);
  border-radius: 16px;
}

@media only screen and (max-width: 1021px) {
  .nav_tab_container {
    overflow: scroll;
  }
  .nav_tab {
    flex-wrap: wrap !important;
  }
  .tab_item {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 572px) {
  .nav_tab .tab_item {
    font-size: 10px;
  }
}
