.dashboard_section {
  height: 1400px;
  width: 100%;
  overflow: scroll;
}

.dashboard_section .dashboard_img {
  height: 100%;
}

.story_section .story_container .story_text {
  font-size: 25px;
  padding-bottom: 20px;
}
