:root {
  --h1_fs: 33px;
  --h2_fs: calc(var(--h1_fs) - 10px);
  --h3_fs: calc(var(--h2_fs) - 4px);
  --h1_fs_sm: 27px;
  --h2_fs_sm: calc(var(--h1_fs_sm) - 2px);
  --h3_fs_sm: calc(var(--h2_fs_sm) - 3px);
  --header_fw: 500;
  --header_mb: 0.5rem;
  --header_2_mb: 0rem;
  --header_3_mb: 0.2rem;

  --text_fs: 20px;
  --text_fs_sm: 19px;
  --text_lg_fs: calc(var(--text_fs) + 5px);
  --text_lg_fs_sm: calc(var(--text_fs_sm) + 5px);
  --text_fw: 300;
  --text_mb: 0.9rem;
  --text_short_mb: 0.1rem;

  --ul_mb: 0.3rem;

  --para: 2rem;
  --para_sm: 1rem;
  --para_2: calc(var(--para) + 2rem);
  --para_2_sm: calc(var(--para_sm) + 0.5rem);
  --para_3: calc(var(--para_2) + 1rem);
  --para_3_sm: calc(var(--para_2_sm) + 0.5rem);
}

/*
  |----------------------------------------
  | Typo
  |----------------------------------------
*/
/* Headers */
.__header,
.__header_1,
.__header_2,
.__header_3 {
  font-weight: var(--header_fw);
}

.__header,
.__header_1 {
  font-size: var(--h1_fs);
  margin-bottom: var(--header_mb);
}
.__header_2 {
  font-size: var(--h2_fs);
  margin-bottom: var(--header_2_mb);
}
.__header_3 {
  font-size: var(--h3_fs);
  margin-bottom: var(--header_3_mb);
}

/* Text */
.__text,
.__text_lg {
  font-weight: var(--text_fw);
  margin-bottom: var(--text_mb);
}

.__text {
  font-size: var(--text_fs);
}

.__text_lg {
  font-size: var(--text_lg_fs);
}

.__text_short {
  margin-bottom: var(--text_short_mb);
}

/* ------------------------------------------------------------------ */

/*
  |----------------------------------------
  | Lookup Styles
  |----------------------------------------
*/
/* Para */
.__para {
  margin-left: var(--para);
}
.__para_2 {
  margin-left: var(--para_2);
}
.__para_3 {
  margin-left: var(--para_3);
}

/* Margin */
.__mb_0 {
  margin-bottom: 0 !important;
}
.__fw_bold {
  font-weight: 600;
}
.__fw_light {
  font-weight: 100;
}
.__underline {
  text-decoration-line: underline;
}
/* ------------------------------------------------------------------ */

/*
  |----------------------------------------
  | List style
  |----------------------------------------
*/
.__ul {
  margin-bottom: var(--ul_mb);
}
.__list_style_circle {
  list-style-type: circle;
}

/*
  |----------------------------------------
  | Colors
  |----------------------------------------
*/
.__highlight {
  color: var(--text_accent_1) !important;
}
.__color_accent {
  color: var(--text_accent_1) !important;
}

/*
  |----------------------------------------
  | Media Queries
  |----------------------------------------
*/

@media only screen and (max-width: 800px) {
  .__header,
  .__header_1 {
    font-size: var(--h1_fs_sm);
  }
  .__header_2 {
    font-size: var(--h2_fs_sm);
  }
  .__header_3 {
    font-size: var(--h3_fs_sm);
  }

  .__text {
    font-size: var(--text_fs_sm);
  }

  .__text_lg {
    font-size: var(--text_lg_fs_sm);
  }

  .__para {
    margin-left: var(--para_sm);
  }
  .__para_2 {
    margin-left: var(--para_2_sm);
  }
  .__para_3 {
    margin-left: var(--para_3_sm);
  }
}
