.__story_container .text {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 200;
}

/* Typo */
.__header,
.__header_1 {
  font-size: 45px !important;
  font-weight: 300 !important;
}
.__header_2 {
  font-size: 40px !important;
  font-weight: 300 !important;
}
.__header_3 {
  font-size: 30px !important;
  font-weight: 300 !important;
}
.__text,
.__text_lg {
  font-weight: 100 !important;
}
.__text_lg {
  font-size: 30px !important;
}

/* style */
.__bold {
  font-weight: 600 !important;
}
.__underline {
  text-decoration-line: underline;
}

/* Color */
.__highlight {
  color: var(--text_accent_1) !important;
}
.__color_accent {
  color: var(--text_accent_1) !important;
}
